## Trying yfinance

In [ ]:
import yfinance as yf
import pandas as pd
import numpy as np

tickers = yf.Tickers("MSFT APPL")
msft = tickers.tickers['MSFT']

In [114]:
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 221000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'fax': '425 706 7329',
 'industry': 'Software—Infrastructure',
 'ebitdaMargins': 0.48672,
 'profitMargins': 0.34366,
 'grossMargins': 0.6826,
 'operatingCashflow': 87693000704,
 'revenueGrowth': 0.106,
 'operatingMargins': 0.41691002,
 'ebitda': 98841001984,
 'targetLowPrice': 234,
 'recommendationKey': 'buy',
 'grossProfits': 135620000000,
 'freeCashflow': 46155874304,
 'targetMedianPrice': 290,
 'currentPrice': 238.73,
 'earningsGrowth': -0.133,
 'currentRatio': 1.84,
 'returnOnAssets': 0.15223,
 'numberOfAnalystOpinions': 45,
 'targetMeanPrice': 296.91,
 'debtToEquity': 44.442,
 'returnOnEquity': 0.42875,
 'targetHighPrice': 411,
 'totalCash': 107244003328,
 'totalDebt': 77136003072,
 'totalRevenue': 203074994176,
 'totalCashPerShare': 14.387,
 'financialCurrency': 'USD',
 'revenuePerShare': 27.142,
 'quickRatio': 1.585,
 'recommendationMean': 1.8,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 8.824,
 'beta3Year': None,
 'enterpriseToEbitda': 18.13,
 '52WeekChange': -0.3044532,
 'morningStarRiskRating': None,
 'forwardEps': 11.18,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7454470144,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 23.276,
 'sharesShort': 40445360,
 'sharesPercentSharesOut': 0.0054,
 'fundFamily': None,
 'lastFiscalYearEnd': 1656547200,
 'heldPercentInstitutions': 0.72300005,
 'netIncomeToCommon': 69788999680,
 'trailingEps': 9.29,
 'lastDividendValue': 0.68,
 'SandP52WeekChange': -0.20220447,
 'priceToBook': 10.256488,
 'heldPercentInsiders': 0.00059,
 'nextFiscalYearEnd': 1719705600,
 'yield': None,
 'mostRecentQuarter': 1664496000,
 'shortRatio': 1.38,
 'sharesShortPreviousMonthDate': 1667174400,
 'floatShares': 7447838663,
 'beta': 0.933189,
 'enterpriseValue': 1791988858880,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1668556800,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.144,
 'priceToSalesTrailing12Months': 8.763292,
 'dateShortInterest': 1669766400,
 'pegRatio': 1.92,
 'ytdReturn': None,
 'forwardPE': 21.353308,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0054,
 'sharesShortPriorMonth': 36909448,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 238.19,
 'regularMarketOpen': 236.11,
 'twoHundredDayAverage': 262.1613,
 'trailingAnnualDividendYield': 0.010663755,
 'payoutRatio': 0.26700002,
 'volume24Hr': None,
 'regularMarketDayHigh': 238.87,
 'navPrice': None,
 'averageDailyVolume10Day': 35770740,
 'regularMarketPreviousClose': 238.19,
 'fiftyDayAverage': 240.5556,
 'trailingAnnualDividendRate': 2.54,
 'open': 236.11,
 'toCurrency': None,
 'averageVolume10days': 35770740,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.72,
 'exDividendDate': 1676419200,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 233.9428,
 'currency': 'USD',
 'trailingPE': 25.697523,
 'regularMarketVolume': 20875477,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1779605569536,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 30597877,
 'dayLow': 233.9428,
 'ask': 238.47,
 'askSize': 800,
 'volume': 20875477,
 'fiftyTwoWeekHigh': 344.3,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.17,
 'fiftyTwoWeekLow': 213.43,
 'bid': 238.2,
 'tradeable': False,
 'dividendYield': 0.0111,
 'bidSize': 1000,
 'dayHigh': 238.87,
 'coinMarketCapLink': None,
 'regularMarketPrice': 238.73,
 'preMarketPrice': 235.89,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 2.1617}

In [112]:
hist = msft.history(period="max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.055380,0.063524,0.055380,0.060809,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.060809,0.064067,0.060809,0.062980,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.062980,0.064609,0.062980,0.064067,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.064067,0.064609,0.061894,0.062437,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.062437,0.062980,0.060809,0.061351,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-19 00:00:00-05:00,244.860001,245.210007,238.710007,240.449997,29696400,0.0,0.0
2022-12-20 00:00:00-05:00,239.399994,242.910004,238.419998,241.800003,25150800,0.0,0.0
2022-12-21 00:00:00-05:00,241.690002,245.619995,240.110001,244.429993,23690600,0.0,0.0
2022-12-22 00:00:00-05:00,241.259995,241.990005,233.869995,238.190002,28651700,0.0,0.0
2022-12-23 00:00:00-05:00,236.110001,238.869995,233.942795,238.729996,20875477,0.0,0.0

In [35]:
msft.history_metadata

{'currency': 'USD',
 'symbol': 'MSFT',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 511108200,
 'regularMarketTime': 1671823612,
 'gmtoffset': -18000,
 'timezone': 'EST',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 237.631,
 'chartPreviousClose': 0.097,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EST',
   'start': 1671786000,
   'end': 1671805800,
   'gmtoffset': -18000},
  'regular': {'timezone': 'EST',
   'start': 1671805800,
   'end': 1671829200,
   'gmtoffset': -18000},
  'post': {'timezone': 'EST',
   'start': 1671829200,
   'end': 1671843600,
   'gmtoffset': -18000}},
 'dataGranularity': '1d',
 'range': '',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [9]:
# (dividends, splits, capital gains)
msft.actions

                           Dividends  Stock Splits
Date
1987-09-21 00:00:00-04:00       0.00           2.0
1990-04-16 00:00:00-04:00       0.00           2.0
1991-06-27 00:00:00-04:00       0.00           1.5
1992-06-15 00:00:00-04:00       0.00           1.5
1994-05-23 00:00:00-04:00       0.00           2.0
...                              ...           ...
2021-11-17 00:00:00-05:00       0.62           0.0
2022-02-16 00:00:00-05:00       0.62           0.0
2022-05-18 00:00:00-04:00       0.62           0.0
2022-08-17 00:00:00-04:00       0.62           0.0
2022-11-16 00:00:00-05:00       0.68           0.0

[85 rows x 2 columns]

In [11]:
msft.dividends

Date
2003-02-19 00:00:00-05:00    0.08
2003-10-15 00:00:00-04:00    0.16
2004-08-23 00:00:00-04:00    0.08
2004-11-15 00:00:00-05:00    3.08
2005-02-15 00:00:00-05:00    0.08
                             ...
2021-11-17 00:00:00-05:00    0.62
2022-02-16 00:00:00-05:00    0.62
2022-05-18 00:00:00-04:00    0.62
2022-08-17 00:00:00-04:00    0.62
2022-11-16 00:00:00-05:00    0.68
Name: Dividends, Length: 76, dtype: float64

In [12]:
msft.splits

Date
1987-09-21 00:00:00-04:00    2.0
1990-04-16 00:00:00-04:00    2.0
1991-06-27 00:00:00-04:00    1.5
1992-06-15 00:00:00-04:00    1.5
1994-05-23 00:00:00-04:00    2.0
1996-12-09 00:00:00-05:00    2.0
1998-02-23 00:00:00-05:00    2.0
1999-03-29 00:00:00-05:00    2.0
2003-02-18 00:00:00-05:00    2.0
Name: Stock Splits, dtype: float64

In [20]:
msft.income_stmt

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Total Revenue,198270000000.0,168088000000.0,143015000000.0,125843000000.0
Operating Revenue,198270000000.0,168088000000.0,143015000000.0,125843000000.0
Cost Of Revenue,62650000000.0,52232000000.0,46078000000.0,42910000000.0
Gross Profit,135620000000.0,115856000000.0,96937000000.0,82933000000.0
Operating Expense,52237000000.0,45940000000.0,43978000000.0,39974000000.0
Selling General And Administration,27725000000.0,25224000000.0,24709000000.0,23098000000.0
General And Administrative Expense,5900000000.0,5107000000.0,5111000000.0,4885000000.0
Other Gand A,5900000000.0,5107000000.0,5111000000.0,4885000000.0
Selling And Marketing Expense,21825000000.0,20117000000.0,19598000000.0,18213000000.0
Research And Development,24512000000.0,20716000000.0,19269000000.0,16876000000.0
Operating Income,83383000000.0,69916000000.0,52959000000.0,42959000000.0
Net Non Operating Interest Income Expense,31000000.0,-215000000.0,89000000.0,76000000.0
Interest Income Non Operating,2094000000.0,2131000000.0,2680000000.0,2762000000.0
Interest Expense Non Operating,2063000000.0,2346000000.0,2591000000.0,2686000000.0
Other Income Expense,302000000.0,1401000000.0,-12000000.0,653000000.0
Gain On Sale Of Security,435000000.0,1303000000.0,28000000.0,710000000.0
Special Income Charges,-101000000.0,NaN,NaN,0.0
Restructuring And Mergern Acquisition,NaN,NaN,NaN,0.0
Write Off,101000000.0,NaN,NaN,NaN
Other Non Operating Income Expenses,-32000000.0,98000000.0,-40000000.0,-57000000.0
Pretax Income,83716000000.0,71102000000.0,53036000000.0,43688000000.0
Tax Provision,10978000000.0,9831000000.0,8755000000.0,4448000000.0
Net Income Common Stockholders,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Net Income,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Net Income Including Noncontrolling Interests,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Net Income Continuous Operations,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Diluted NI Availto Com Stockholders,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Basic EPS,9.7,8.12,5.82,5.11
Diluted EPS,9.65,8.05,5.76,5.06
Basic Average Shares,7496000000.0,7547000000.0,7610000000.0,7673000000.0
Diluted Average Shares,7540000000.0,7608000000.0,7683000000.0,7753000000.0
Total Operating Income As Reported,83383000000.0,69916000000.0,52959000000.0,42959000000.0
Total Expenses,114887000000.0,98172000000.0,90056000000.0,82884000000.0
Net Income From Continuing And Discontinued Operation,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Normalized Income,72447420000.0,60150420000.0,44257620000.0,38602420000.0
Interest Income,2094000000.0,2131000000.0,2680000000.0,2762000000.0
Interest Expense,2063000000.0,2346000000.0,2591000000.0,2686000000.0
Net Interest Income,31000000.0,-215000000.0,89000000.0,76000000.0
EBIT,85779000000.0,73448000000.0,55627000000.0,46374000000.0
Reconciled Cost Of Revenue,62650000000.0,52232000000.0,46078000000.0,42910000000.0
Reconciled Depreciation,14460000000.0,11686000000.0,12796000000.0,11682000000.0
Net Income From Continuing Operation Net Minority Interest,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Total Unusual Items Excluding Goodwill,334000000.0,1303000000.0,28000000.0,710000000.0
Total Unusual Items,334000000.0,1303000000.0,28000000.0,710000000.0
Normalized EBITDA,99905000000.0,83831000000.0,68395000000.0,57346000000.0
Tax Rate For Calcs,0.13,0.14,0.165,0.102
Tax Effect Of Unusual Items,43420000.0,182420000.0,4620000.0,72420000.0

In [23]:
msft.recommendations

                                   Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00      Argus Research            Buy                up
2012-03-19 14:00:00      Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00      Morgan Stanley     Overweight              main
2012-04-03 11:53:00                 UBS            Buy              main
2012-04-20 06:18:00       Deutsche Bank            Buy              main
...                                 ...            ...        ...    ...
2022-10-26 12:58:51      Wolfe Research     Outperform              main
2022-10-26 13:25:50  Evercore ISI Group     Outperform              main
2022-10-26 13:28:29         BMO Capital     Outperform              main
2022-10-27 11:14:36          Rosenblatt            Buy              main
2022-11-02 10:29:21           Macquarie        Neutral              init

[424 rows x 4 columns]

In [28]:
msft.calendar

                                    0                    1
Earnings Date     2023-01-23 10:59:00  2023-01-27 12:00:00
Earnings Average                 2.29                 2.29
Earnings Low                     2.23                 2.23
Earnings High                    2.36                 2.36
Revenue Average           52969300000          52969300000
Revenue Low               52389000000          52389000000
Revenue High              53475000000          53475000000

In [29]:
msft.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2023-10-23 06:00:00-04:00           NaN           NaN          NaN
2023-07-24 06:00:00-04:00           NaN           NaN          NaN
2023-04-24 06:00:00-04:00           NaN           NaN          NaN
2023-01-23 05:00:00-05:00          2.29           NaN          NaN
2022-10-25 12:00:00-04:00          2.30          2.35       0.0204
2022-07-26 12:00:00-04:00          2.29          2.23      -0.0275
2022-04-26 12:00:00-04:00          2.19          2.22       0.0160
2022-01-25 11:00:00-05:00          2.31          2.48       0.0727
2021-10-26 12:00:00-04:00          2.08          2.27       0.0940
2021-07-27 12:00:00-04:00          1.92          2.17       0.1326
2021-04-27 12:00:00-04:00          1.78          2.03       0.1411
2021-01-26 11:00:00-05:00          1.64          2.03       0.2363

# Testing yf.download... it doesn't give me volume so I probably won't be uding it

In [99]:
data = yf.download("SPY AAPL MSFT COSM", period = "max", interval = "1d", group_by = 'ticker', prepost = True)
# https://stackoverflow.com/questions/63107594/how-to-deal-with-multi-level-column-names-downloaded-with-yfinance/63107801#63107801
# data = data.stack(level=1).rename_axis(['Date', 'Ticker']).reset_index(level=1)

[*********************100%***********************]  4 of 4 completed

In [106]:
data.columns

MultiIndex([('COSM',      'Open'),
            ('COSM',      'High'),
            ('COSM',       'Low'),
            ('COSM',     'Close'),
            ('COSM', 'Adj Close'),
            ('COSM',    'Volume'),
            ( 'SPY',      'Open'),
            ( 'SPY',      'High'),
            ( 'SPY',       'Low'),
            ( 'SPY',     'Close'),
            ( 'SPY', 'Adj Close'),
            ( 'SPY',    'Volume'),
            ('MSFT',      'Open'),
            ('MSFT',      'High'),
            ('MSFT',       'Low'),
            ('MSFT',     'Close'),
            ('MSFT', 'Adj Close'),
            ('MSFT',    'Volume'),
            ('AAPL',      'Open'),
            ('AAPL',      'High'),
            ('AAPL',       'Low'),
            ('AAPL',     'Close'),
            ('AAPL', 'Adj Close'),
            ('AAPL',    'Volume')],
           )

In [107]:
data["COSM"]

            Open     High    Low  Close  Adj Close      Volume
Date
1980-12-12   NaN      NaN    NaN    NaN        NaN         NaN
1980-12-15   NaN      NaN    NaN    NaN        NaN         NaN
1980-12-16   NaN      NaN    NaN    NaN        NaN         NaN
1980-12-17   NaN      NaN    NaN    NaN        NaN         NaN
1980-12-18   NaN      NaN    NaN    NaN        NaN         NaN
...          ...      ...    ...    ...        ...         ...
2022-12-19  9.18  10.9200  7.311   7.59       7.59  35401900.0
2022-12-20  6.70   9.1800  5.590   8.76       8.76  33060800.0
2022-12-21  8.29   9.1300  7.580   8.02       8.02  12207400.0
2022-12-22  7.58   7.7800  6.600   7.10       7.10   4241500.0
2022-12-23  6.67   6.9799  6.250   6.40       6.40   2592461.0

[10599 rows x 6 columns]

In [109]:
data.loc["2022-12-23"]

COSM  Open         6.670000e+00
      High         6.979900e+00
      Low          6.250000e+00
      Close        6.400000e+00
      Adj Close    6.400000e+00
      Volume       2.592461e+06
SPY   Open         3.796500e+02
      High         3.830600e+02
      Low          3.780401e+02
      Close        3.829100e+02
      Adj Close    3.829100e+02
      Volume       5.968438e+07
MSFT  Open         2.361100e+02
      High         2.388700e+02
      Low          2.339428e+02
      Close        2.387300e+02
      Adj Close    2.387300e+02
      Volume       2.087548e+07
AAPL  Open         1.309200e+02
      High         1.324100e+02
      Low          1.296400e+02
      Close        1.318600e+02
      Adj Close    1.318600e+02
      Volume       6.367405e+07
Name: 2022-12-23 00:00:00, dtype: float64

In [110]:
data["COSM"].loc["2022-12-23"]

Open         6.670000e+00
High         6.979900e+00
Low          6.250000e+00
Close        6.400000e+00
Adj Close    6.400000e+00
Volume       2.592461e+06
Name: 2022-12-23 00:00:00, dtype: float64